accelerate==0.20.3
addict
albumentations
basicsr
controlnet-aux
diffusers==0.14.0
einops
imageio
imageio-ffmpeg
invisible-watermark
kornia
numpy
omegaconf
open_clip_torch
openai
opencv-python
prettytable
safetensors
streamlit
test-tube
timm==0.6.13
torchmetrics
webdataset
yapf
inflect
nltk
transformers
pycocotools