<?xml version="1.0"?>
<robot name="triple_camera_set" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="use_nominal_extrinsics" default="false"/>
  <xacro:arg name="add_plug" default="false" />
  <xacro:arg name="use_mesh" default="true" />
  <xacro:arg name="publish_pointcloud" default="true" />
  <xacro:include filename="$(find realsense_gazebo_plugin)/urdf/_d435.urdf.xacro" />


  <link name="world" />
  <joint name="world_joint" type="fixed">
     <parent link="world" />
     <child link = "base_link" />
     <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>
  <link name="base_link" />

  <!-- left camera -->
  <xacro:sensor_d435 parent="base_link" name="camera_left" topics_ns="camera_left" use_nominal_extrinsics="$(arg use_nominal_extrinsics)" add_plug="$(arg add_plug)" use_mesh="$(arg use_mesh)" publish_pointcloud="$(arg publish_pointcloud)">
    <origin xyz="0.6 -1.5  1.8" rpy="0.0 0.45 2.1"/>
  </xacro:sensor_d435>

  <!-- right camera -->
  <xacro:sensor_d435 parent="base_link" name="camera_right" topics_ns="camera_right" use_nominal_extrinsics="$(arg use_nominal_extrinsics)" add_plug="$(arg add_plug)" use_mesh="$(arg use_mesh)" publish_pointcloud="$(arg publish_pointcloud)">
    <origin xyz="0.6 1.5 1.8" rpy="0.0 0.45 -2.1"/>
  </xacro:sensor_d435>

  <!-- top camera -->
  <xacro:sensor_d435 parent="base_link" name="camera_top" topics_ns="camera_top" use_nominal_extrinsics="$(arg use_nominal_extrinsics)" add_plug="$(arg add_plug)" use_mesh="$(arg use_mesh)" publish_pointcloud="$(arg publish_pointcloud)">
    <origin xyz="-0.5 0 3.4" rpy="0 1.57 0"/>
  </xacro:sensor_d435>

  <!-- top front camera -->
  <xacro:sensor_d435 parent="base_link" name="camera_top_front" topics_ns="camera_top_front" use_nominal_extrinsics="$(arg use_nominal_extrinsics)" add_plug="$(arg add_plug)" use_mesh="$(arg use_mesh)" publish_pointcloud="$(arg publish_pointcloud)">
    <origin xyz="0.15 0 3.3" rpy="0 1.0 -3.14"/>
  </xacro:sensor_d435>


  <gazebo> 
    <!-- plugin to publish GT 3D bounding boxes to env node -->
    <plugin filename="libgazebo_ros_bbox_3d_plugin.so " name="gazebo_ros_bbox_3d_plugin">
      <updatePeriod>1.0</updatePeriod>
      <links_to_publish>
        <link>cabinet::drawer0</link>
        <link>cabinet::drawer1</link>
        <link>cabinet::drawer2</link>
        <link>cabinet::drawer3</link>
      </links_to_publish>
    </plugin>
  </gazebo>

</robot>
