<?xml version="1.0"?>
<robot name="ur5" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="use_gt_planning_scene" default="true" />
  <xacro:arg name="use_gt_bounding_box" default="true" />
  <xacro:arg name="enable_gt_joint_axis" default="true" />

  <xacro:include filename="$(find ur_description)/urdf/ur5_joint_limited_robot.urdf.xacro" />
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_85_gripper.urdf.xacro" />
  
  <!-- Attach the robotiq 85 gripper -->
  <xacro:robotiq_85_gripper prefix="" parent="ee_link" tcp_xyz="0.15 0 0" tcp_rpy="${pi} ${-pi/2} 0" >
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:robotiq_85_gripper> 
  
  <!-- Gazebo FT sensor plugin -->
  <gazebo reference="wrist_3_joint">
    <provideFeedback>true</provideFeedback>
  </gazebo>
  <gazebo>
    <plugin name="ft_sensor_plugin" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>250.0</updateRate>
      <topicName>ft_sensor/raw</topicName>
      <gaussianNoise>0.0</gaussianNoise>
      <jointName>wrist_3_joint</jointName>
    </plugin>
  </gazebo>
  
  <!-- Gazebo grasping plugin -->
  <gazebo>
    <gripper name="gazebo_gripper">
      <grasp_check>
        <attach_steps>2</attach_steps>    <!-- default: 20 -->
        <detach_steps>2</detach_steps>    <!-- default: 40 -->
        <min_contact_count>3</min_contact_count>
      </grasp_check>
      <gripper_link>robotiq_85_left_finger_tip_link</gripper_link>
      <gripper_link>robotiq_85_right_finger_tip_link</gripper_link>
      <palm_link>robotiq_85_base_link</palm_link>
    </gripper>
  </gazebo>
  
  <!-- gazebo plugin to publish models to moveit planning scene -->
  <gazebo>
    <!-- plugin to publish GT world state to moveit planning scene -->
    <xacro:if value="$(arg use_gt_planning_scene)">
      <plugin filename="libgazebo_ros_moveit_planning_scene.so" name="gazebo_ros_moveit_planning_scene">
        <topicName>/planning_scene</topicName>
        <updatePeriod>3.0</updatePeriod>
      </plugin>
    </xacro:if>
    
    <!-- plugin to publish GT 3D bounding boxes to env node -->
    <xacro:if value="$(arg use_gt_bounding_box)">
      <plugin filename="libgazebo_ros_bbox_3d_plugin.so" name="gazebo_ros_bbox_3d_plugin">
        <updatePeriod>1.0</updatePeriod>
        <links_to_publish>
          <link>cabinet::drawer0</link>
          <link>cabinet::drawer1</link>
          <link>cabinet::drawer2</link>
          <link>cabinet::drawer3</link>
          <link>cabinet::handle_0</link>
          <link>cabinet::handle_1</link>
          <link>cabinet::handle_2</link>
          <link>cabinet::handle_3</link>
        </links_to_publish>
      </plugin>
    </xacro:if>

    <!-- plugin to host service for ground truth joint axis query -->
    <xacro:if value="$(arg enable_gt_joint_axis)">
      <plugin filename="libgazebo_ros_joint_axis_service.so" name="gazebo_ros_joint_axis_service">
        <NodeName>gazebo_ros_joint_axis_service</NodeName>  
      </plugin>
    </xacro:if>

  </gazebo>

</robot>
